@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/*-------- Nav bar/header------*/

.tekker {
  margin: 10px 0 0 10px;
  color: #dfdfdf;
  letter-spacing: 4px;
}

#brand-title {
    font-size: 32px;
}

@media screen and (min-width: 375px) {
    #brand-title {
        font-size: 40px;
    }
}

.tekker:hover {
  color:#e9ab00;
  transition: all .5s linear;
}
 
 .text-decoration-none {
   text-decoration: none !important
 }

ul li {
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0 2px 0 0;
}

header {
  background-color: #0d2033;
}

.btn-custom {
  border-right: 2px solid #dfdfdf;
  padding-right: 3px;
  color: #e9ab00;

}

.btn-custom:hover {
  color: #dfdfdf;
  transition: all .25s linear;  
}


.button-active {
  text-decoration: underline;
  color: #dfdfdf;
}

.button-active:hover {
  color: #e9ab00;
  transition: all .25s linear;
}

/*--------footer---------*/

.footer {
  background-color: #0d2033;
  color: #dfdfdf;
  height: 50px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.footer i {
  font-size: medium;
  letter-spacing: 5px;
  margin: 5px 5px; 
  color: #e9ab00;
} 

.footer i:hover {
  color: #dfdfdf;
  transition: all .25s linear
}

.footer-text {
  font-size: 7px;
}

@media screen and (min-width: 425px) {
   .footer-text {
     font-size: 10px;
   }
   .footer i {
     letter-spacing: 15px;
     font-size: large;
   }
}

/*---------Upload section-----*/

.upload-heading {
    margin-top: 12vh;
    margin-bottom: 3vh;
    color: #0d2033;
}

.upload-container {
    background-color: #e9ab00;
    height: 100vh;
    align-items: center;
}

form input {
    font-family: 'Ubuntu', sans-serif;
    background-color: #dfdfdf;
    color: #0d2033;
}

.upload-hr {
    width: 66%;
    color: #0d2033;
}

#submit-btn {
    color: #e9ab00;
    background-color: #0d2033;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#fileupload {
    background-color: #e9ab00;
}

/*---- this was taken from https://www.w3schools.com/howto/howto_css_placeholder.asp --*/

::placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00;
    opacity: .6; 
}

:-ms-input-placeholder {
    font-family: 'Ubuntu Mono', monospace;   
    color: #e9ab00;
}

::-ms-input-placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00;
}

/*------------*/

/*----------home page-------*/

.hero-image {
    background: url(../images/skating.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
}

.jumbotron {
    background-color: transparent;
}