@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #c8cbce;
  margin-bottom: 60px;
}

.orange-heading {
    color: #e9ab00;
}

.grey-heading {
    color: #dfdfdf
}

.blue-heading {
    color: #0d2033
}

/*-------- Nav bar/header------*/

.brand-title {
    font-size: 32px;
    margin: 5px;
    color: #dfdfdf;
    letter-spacing: 4px;
}

.brand-title:hover {
  color:#e9ab00;
  transition: all .5s linear;
}
 
.nav li {
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0 2px 0 0;
}

header {
  background-color: #0d2033;
  border-bottom: 2px solid #e9ab00;
}

.nav-link {
  border-right: 2px solid #dfdfdf;
  padding: 0 3px 0 0;
  color: #e9ab00;

}

.nav-link:hover {
  color: #dfdfdf;
  transition: all .25s linear;  
}


.nav-link-active {
  text-decoration: underline;
  color: #dfdfdf;
}

.nav-link-active:hover {
  color: #e9ab00;
  transition: all .25s linear;
}

@media screen and (min-width: 375px) {
    .brand-title {
        font-size: 40px;
    }
}

/*--------footer---------*/

.footer {
  background-color: #0d2033;
  color: #dfdfdf;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #e9ab00;
  text-align: center;
  z-index: 1;
}

.footer i {
  font-size: 18px;
  letter-spacing: 4px;
  color: #e9ab00;
} 

.footer i:hover {
  color: #dfdfdf;
  transition: all .25s linear;
}

.social-links {
    margin-top: 1px;
}

.footer-text {
  font-size: 12px;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width: 365px) {
    .footer i {
     letter-spacing: 8px;  
    }
}

@media screen and (min-width: 425px) {
   .footer-text {
     font-size: 13px;
   }
   .footer i {
     letter-spacing: 10px;
   }
}

/*---------Upload section-----*/

.upload-background {
    background: url(../images/form-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    background-position: 48%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    animation: zoom 15s linear;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.dark-filter {
    background-color: #00000096;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-container {
    height: 65vh;
}

.upload-heading {
    margin-top: 5vh;
    color: #dfdfdf;
    font-size: 25px;
}

form input {
    font-family: 'Ubuntu', sans-serif;
    background-color: #dfdfdf;
    color: #0d2033;
    border: 2px solid #0d2033;
    width: 200px;
    border-radius: 6px;
}

.upload-horizontal-rule {
    width: 66%;
    border-color: #e9ab00;
    margin-bottom: 0;
}

.submit-upload-btn {
    color: #e9ab00;
    background-color: #0d2033;
    border: 2px solid #e9ab00;
    padding: 5px 15px 5px 15px;
    font-family: 'Ubuntu', sans-serif;
}

.submit-upload-btn:hover {
    border-color: #0d2033;
    background-color: #dfdfdf;
    color: #0d2033;
    transition: all .5s linear;
}

.fileupload {
    background-color: transparent;
    color: #dfdfdf;
    border: none;
    border-radius: 0;
    width: 205px;
    margin: 15px 0 35px 0;
}

::placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00; 
}

:-ms-input-placeholder {
    font-family: 'Ubuntu Mono', monospace;   
    color: #e9ab00;
    opacity: .8;
}

::-ms-input-placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00;
}

@media screen and (min-width: 576px) {
    .form-group-left {
        margin-right: 20px;
    }
    .form-group-right {
        margin-left: 20px;
    }
    .form-group-top {
        margin-bottom: 15px;
    }
    .form-group-bottom {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .upload-background {
        background-position: 48.3%;
    }
    .upload-heading {
        font-size: 28px;
    }
    .fileupload {
        width: 220px;
    }
}

/*----------home page-------*/

.hero-images-container {
   padding-left: 0;
   padding-right: 0;
}

.jumbotron-homepage {
    background-color: transparent;
    position: relative;
    height: 65vh;
    z-index: 1;
    border-bottom: 2px solid #e9ab00;   
}

.jumbotron-homepage h2 {
    font-size: 32px;
    width: 280px;
    animation: text-gradient 20s infinite;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron-homepage h3 {
    width: 250px;
    animation: text-gradient 20s infinite;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes text-gradient {
    0% {
        color: #f7f7f7;
    }
    25% {
        color: white;
    }
    50% {
        color: #e9ab00;
    }
    75% {
        color: #e98400;
    }
    100% {
        color: #ebebeb;
    }
}

.btn-upload-now  {
    background-color: #e9ab00cc;
    border: 2px solid #0d2033;
    color: #0d2033;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-upload-now:hover {
    border-color: #0d2033;
    background-color: #dfdfdfcc;
    color: #0d2033;
    transition: all .5s linear;
}

.testimonial {
    border: 3px solid #0d2033;
    border-radius: 5px;
    padding: 15px 5px 15px 5px;
    margin: 10px 5px;
    min-height: 125px;
    background-color: #dfdfdf;
    color: #0d2033;
    font-family: 'permanent marker', cursive; 
}

.testimonial img {
    width: 90px;
    height: 90px;
    float: left;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #e9ab00;
    margin-right: 10px;
}

.testimonial-quote {
    font-size: 22px;
}

.hero1,.hero2,.hero3,.hero4 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero1 {
    background-image: url(../images/skating.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    animation: fade1 20s infinite;
}

.hero2 {
    background-image: url(../images/basketball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
    animation: fade2 20s infinite;
}

.hero3 {
    background-image: url(../images/kayak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    animation: fade3 20s infinite;
}

.hero4 {
    background-image: url(../images/swimmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    animation: fade4 20s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade4 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (min-width:768px) {
    .hero1 {
    background-image: url(../images/skating-big.jpg);
}

.hero2 {
    background-image: url(../images/basketball-big.jpg);
}

.hero3 {
    background-image: url(../images/kayak-big.jpg);
}

.hero4 {
    background-image: url(../images/swimmer-big.jpg);
    background-position: 50% 45%;   
}

.jumbotron-homepage h2 {
    font-size: 3rem;
    width: 450px;
    top: 12%;
    left: 28%;
}

.jumbotron-homepage h3 {
    font-size: 2rem;
    top: 25%;
    left: 32%;
}
}

@media screen and (min-width: 992px) {
    .testimonial {
        width: 480px;
    }
    .jumbotron-homepage {
        height: 70vh
    }
    .btn-upload-now {
    width: 175px;
}
}

@media screen and (max-width: 1198px) {
    .testimonial-right img {
    float: right;
}
.testimonial-right-name {
    float: right;
}
} 

@media screen and (min-width: 1200px) {
    .testimonial {
        min-width: 370px;
        min-height: 240px;
        position: relative;
    }
    .testimonial p {
        position: absolute;
        width: 66%;
        right: 25px;
        top: 50px;
    }
}

@media screen and (min-width: 1920px) {
    .index-page-container {
    width: 1920px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    }
    .jumbotron-homepage {
        border-right: 2px solid #e9ab00;
        border-left: 2px solid #e9ab00;
    }
}

/*--------About us Section------*/

.about-us {
    border: 2px solid #0d2033;
    border-radius: 2px;
    margin: 20px 10px 0 10px;
    padding: 10px;
    background-color: #dfdfdf;
    color: #0d2033;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}

.about-us-left {
    margin-bottom: 10px;
} 

.sports, .who-we-work-with {
    border: 2px solid #dfdfdf;
    border-radius: 2px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    max-height: 410px;
    background-color: #0d2033;
    color: #dfdfdf;
    font-size: 14px;

    letter-spacing: .5px;
}
.sports i, .who-we-work-with i  {
    color: #e9ab00;
    font-size: 22px;
}

.sports p, .who-we-work-with p {
    margin-bottom: 10px;
}

.sports span, .who-we-work-with span {
    margin-top: auto;
    margin-bottom: auto;
}

.sports .row, .who-we-work-with .row {
    margin-bottom: 10px;
} 

.logo-slide img{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 5px;
}

.partners-carousel {
    width: 500px;
    margin-bottom: 20px;
}

.contact-us {
    background-color: #dfdfdf;
    margin: 10px;
    margin-top: 20px;
    border: 2px solid #0d2033;
    border-radius: 2px;
}

.social-media {
    background-color: #0d2033;
    border-radius: 4px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.social-media i {
    color: #e9ab00;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.contact-details {
    margin: 10px 50px 10px 50px;
}

.contact-details i {
    color: #0d2033;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.contact-info {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (min-width: 380px) {
    .logo-slide img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width:568px) {
    .about-us {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .sports, .who-we-work-with {
        font-size: 16px;
        height: 310px;
    }
}

@media screen and (min-width:992px) {
    .who-we-work-with, .sports {
        width: 460px;
        height: 410px;
        letter-spacing: 2px;
    }
    .sports i, .who-we-work-with i {
        font-size: 24px;
    }

    .sports .row {
        margin-top: 23px;
    }

    .who-we-work-with .row {
        margin-top: 20px;
    }

    .social-media {
        width: 280px;
        font-size: 30px;
        margin-bottom: auto;
    }

    .about-us, .contact-us {
        width: 942px;
    }
    .about-us-left, .about-us-right {
        width: 50%;
        font-size: 20px;
    }

    .about-us-right {
       float: right;
}
    .contact-us {
       margin-left: auto;
       margin-right: auto;
    }   
}

/*----------- Gallery Section------*/

.pictures-carousel {
    background-size: cover;
    border: 10px solid #0d2033;
    margin: 4vh 2vh 4vh 2vh;
}

.pictures-carousel img {
    max-width: 1050px;
    max-height: 700px;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    font-size: 12px;
    font-weight: 300;
    background-color: #0d2033;
    height: 55px;
}

.video-control-left {
    margin-left: -10vw;
}

.video-control-right {
    margin-right: -10vw;
}

.iframes-carousel {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.iframe-carousel-row {
    margin-left: 0;
    margin-right: 0;
}

.iframe-container {
    max-width: 1100px;
}

.projects-heading {
    margin-top: 2vh;
    margin-bottom: 75px;
    font-weight: 300; 
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        font-size: 20px;
    }        
}

@media screen and (min-width: 1200px) {
    .video-control-left {
    margin-left: -8vw;
}
.video-control-right {
    margin-right: -7vw;
}
}