@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/*-------- Nav bar/header------*/

.tekker {
  margin: 10px 0 0 10px;
  color: #dfdfdf;
  letter-spacing: 3px;
}

.tekker:hover {
  color:#e9ab00;
  transition: all .5s linear;
}
 
 .text-decoration-none {
   text-decoration: none !important
 }

ul a {
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0 2px 0 0;
}

header {
  background-color: #0d2033;
}

.btn-custom {
  border-right: 2px solid #dfdfdf;
  color: #e9ab00;

}

.btn-custom:hover {
  color: #dfdfdf;
  transition: all .25s linear;  
}


.button-active {
  text-decoration: underline;
  color: #dfdfdf;
}

.button-active:hover {
  color: #e9ab00;
  transition: all .25s linear;
}

/*--------footer---------*/

.footer {
  background-color: #0d2033;
  color: #dfdfdf;
  height: 50px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.footer i {
  font-size: medium;
  letter-spacing: 5px;
  margin: 5px 5px; 
  color: #e9ab00;
} 

.footer i:hover {
  color: #dfdfdf;
  transition: all .25s linear
}

.footer-text {
  font-size: 7px;
}

@media screen and (min-width: 425px) {
   .footer-text {
     font-size: 10px;
   }
   .footer i {
     letter-spacing: 15px;
     font-size: large;
   }
}

/*---------Upload section-----*/

.upload-heading {
    margin-top: 6vh;
    margin-bottom: 3vh;
}