@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #516375;
  margin-bottom: 50px;
}

/*-------- Nav bar/header------*/

.brand-title {
    font-size: 32px;
    margin: 10px 0 0 10px;
    color: #dfdfdf;
    letter-spacing: 4px;
}

.brand-title:hover {
  color:#e9ab00;
  transition: all .5s linear;
}
 
.nav li {
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0 2px 0 0;
}

header {
  background-color: #0d2033;
  border-bottom: 2px solid #e9ab00;
}

.nav-link {
  border-right: 2px solid #dfdfdf;
  padding: 0 3px 0 0;
  color: #e9ab00;

}

.nav-link:hover {
  color: #dfdfdf;
  transition: all .25s linear;  
}


.link-active {
  text-decoration: underline;
  color: #dfdfdf;
}

.link-active:hover {
  color: #e9ab00;
  transition: all .25s linear;
}

@media screen and (min-width: 375px) {
    .brand-title {
        font-size: 40px;
    }
}

/*--------footer---------*/

.footer {
  background-color: #0d2033;
  color: #dfdfdf;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #e9ab00;
  text-align: center;
}

.footer i {
  font-size: 10px;
  letter-spacing: 2px;
  margin: 5px 5px; 
  color: #e9ab00;
} 

.footer i:hover {
  color: #dfdfdf;
  transition: all .25s linear;
}

.footer-text {
  font-size: 10px;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width: 425px) {
   .footer-text {
     font-size: 12px;
   }
   .footer i {
     letter-spacing: 5px;
     font-size: 16px;
   }
}

/*---------Upload section-----*/

.upload-heading {
    margin-top: 12vh;
    margin-bottom: 3vh;
    color: #0d2033;
}

.upload-container {
    align-self: center;
}

form input {
    font-family: 'Ubuntu', sans-serif;
    background-color: #dfdfdf;
    color: #0d2033;
}

.upload-hr {
    width: 66%;
    color: #0d2033;
}

#submit-btn {
    color: #e9ab00;
    background-color: #0d2033;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#fileupload {
    background-color: #516375;
}

/*---- this was taken from https://www.w3schools.com/howto/howto_css_placeholder.asp --*/

::placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00;
    opacity: .6; 
}

:-ms-input-placeholder {
    font-family: 'Ubuntu Mono', monospace;   
    color: #e9ab00;
}

::-ms-input-placeholder { 
    font-family: 'Ubuntu Mono', monospace;  
    color: #e9ab00;
}

/*------------*/

/*----------home page-------*/

#hero-container {
   padding-left: 0;
   padding-right: 0;
}

.testimonial-container{
    background-color: #e9ab00;
    }

.jumbotron {
    background-color: transparent;
    position: relative;
    height: 65vh;
    z-index: 1;   
}

.jumbotron h2 {
    font-size: 30px;
    color: #e9ab008f;
}

.jumbotron h3 {
    margin-bottom: 30vh;
    color: #e9ab008f;
}

.btn-jumbotron-custom {
    background-color: #e9ab00;
    color: #0d2033;
}

.btn-jumbotron-custom:hover {
    border: 1px solid #dfdfdf;
    color: #dfdfdf
}

.testimonial-1 {
    border: 3px solid #0d2033;
    border-radius: 5px;
    padding: 15px 5px 15px 5px;
    margin: 5px;
    min-height: 125px;
    background-color: #dfdfdf;
    color: #0d2033;
    font-family: 'Ubuntu Mono', monospace;
}

.testimonial-2 {
    border: 3px solid #0d2033;
    border-radius: 5px;
    padding: 15px 5px 15px 5px;
    margin: 5px;
    min-height: 125px;
    background-color:#dfdfdf;
    color: #0d2033;
    font-family: 'Ubuntu Mono', monospace;
}

.testimonial-1 img {
    width: 90px;
    height: 90px;
    float: left;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial-2 img {
    width: 90px;
    height: 90px;
    float: right;
    background-size: cover;
    border-radius: 50%;
    margin-left: 10px;
}

/*------------- for this section i watched this tutorial on youtube 
"https://www.youtube.com/watch?v=uHg8W7ZuD9o" ---------*/  

.hero1,.hero2,.hero3,.hero4 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero1 {
    background-image: url(../images/skating.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    animation: fade1 20s infinite;
}

.hero2 {
    background-image: url(../images/basketball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
    animation: fade2 20s infinite;
}

.hero3 {
    background-image: url(../images/kayak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    animation: fade3 20s infinite;
}

.hero4 {
    background-image: url(../images/swimmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    animation: fade4 20s infinite;
}

/*---------------------------------*/

@keyframes fade1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade4 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*--------About us Section------*/

.about-us {
    border: 2px solid #0d2033;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #e9ab00;
}

.sports {
    border: 2px solid #0d2033;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    height: 400px;
    background-color: #0d2033;
    color: #dfdfdf;
}
.sports i {
    color: #e9ab00;
}

.sports ul {
    list-style: none;
    padding: 0;
}

.who-we-work-with {
    border: 2px solid #0d2033;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    height: 400px;
    color: #dfdfdf;
    background-color:#0d2033; 
}

.who-we-work-with ul {
    list-style: none;
    padding: 0;
}

.logo-wrapper{
    width: 80%; 
    overflow-x:scroll;     
    white-space: nowrap;
}

.logo-slide img{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
}

.orange-heading {
    color: #e9ab00;
}

.grey-heading {
    color: #dfdfdf
}

@media screen and (min-width:992px) {
    .who-we-work-with {
        width: 460px;
    }
    .sports {
        width: 460px;
    }
}

/*----------- Projects Section------*/

iframe {
    padding: 0;
    height: 100%;
    width:80%;
    margin-top: 5vh;
    border: none;
}

.picture-wrapper{ 
    overflow-x:scroll;     
    white-space: nowrap;
    margin-top: 5vh;
}

.carousel {
    max-height: 500px;
    width: 100%;
    display: inline-block;
    margin-top: 5vh;
    background-size: cover
}